.swiper {
	margin-top: 2rem;
	width: 69%;
  height: auto;
  padding-bottom: 1.5rem;
}


.swiper-pagination {
	top: 20rem !important
}

.swiper-slide {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
